BODY {
    margin: 5px;
    background: #888;
}
.boldBorder {
    outline: 2px solid #444; /* Чёрная рамка */
}
.tableGrid {
    display: grid;
    grid-template-columns: 2fr 6fr 6fr 1fr;
}
.centerTextDiv {
    text-align: center;
}
.collapsible {
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 5px;
    text-align: left;
}
.active,
.collapsible:hover {
    background-color: #444;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
#mainMenu {
    display: grid;
    grid-template-columns: 1fr 80px 35px 80px;
}

